@mixin regular {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}
@mixin medium {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}
@mixin bold {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}
@mixin i-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
@mixin i-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}