@mixin regular { font-weight: 400; }
@mixin medium { font-weight: 500; }
@mixin bold { font-weight: 700; }

@mixin i-regular { font-family: 'Inter', sans-serif; font-weight: 400; }
@mixin i-bold { font-family: 'Inter', sans-serif; font-weight: 700; }

@mixin smartphone {
	@media screen and (max-width: 481px) {
		@content;
	}
}

@mixin pad {
	@media screen and (max-width: 769px) {
		@content;
	}
}

@mixin small-laptop {
	@media screen and (max-width: 1025px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}